:root {
  --body:hsl(0, 1%, 21%);
  --text:hsl(0, 0%, 93%);
  --accent:linear-gradient(45deg,hsl(265, 71%, 62%),hsl(306, 100%, 44%),hsl(288, 81%, 53%));
  --nav: hsl(278, 81%, 53%);
}
* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.93rem;
  /* color: var(--text); */
}
#root {
  background: var(--body);
  min-height:100dvh;
  /* margin-top:0; */
  width:inherit;
}
.base {
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  position: fixed;
  left:0;
  right: 0;
  z-index: 10;
}
.header.scrolled {
  background: var(--nav);
}
.header .logo {
  text-decoration: none;
  color: var(--text);
  font-size: 2rem;
  font-weight: bolder;
}

.toggle-button {
  display: none;
}
.header .nav-wrap {
  /* flex-grow: 0.5; */
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.header .nav-wrap .navv {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 1rem;
  align-items: stretch;
  margin-bottom: 0;
}
.header .nav-wrap .navv li .navv-link {
  text-decoration: none;
  color: var(--text);
  padding:0.6rem 0.8rem 0.6rem 0.6rem;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.header .nav-wrap .navv li .navv-link:hover {
  background: var(--accent);
  letter-spacing: 0.1rem;
}
.header .nav-wrap .navv li .active {
  background: var(--accent);
  letter-spacing: 0.1rem;
  box-shadow: 0 0 3px var(--text);
}
.main {
  padding-top:5rem;
}
.main .main-content {
  min-height:90dvh;
  padding:1rem;
}
.main .main-content .home {
  min-height: inherit;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.home .left-pane {
  grid-column: 1/3;
  grid-row: 1;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap:1rem;
}
.home .right-pane {
  grid-column: 2/4;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
}
.home .right-pane .profil {
  
}
.home .profil img {
  filter: grayscale();
  width: 500px;
  height: auto;
}
.main .main-content .home h1 {
  font-size: 4.5rem;
  font-weight: bolder;
  background: var(--accent);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.main .main-content .home h2 {
  font-size: 3rem;
  color: var(--text);
}
.main .main-content .home h3 {
  font-weight: bold;
  color: var(--text);
}
.main .main-content .home .left-pane a {
  background: var(--nav);
  text-decoration: none;
  color: var(--text);
  padding: 12px 24px;
}
.title {
  font-size: 6rem;
  font-weight: bolder;
  background: var(--accent);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 0.5rem 0rem; 
}

.about h2 {
  margin-bottom: 1rem;
  background: var(--accent);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.about h2 .icon {
  color: hsl(278, 81%, 53%);
}
.about ul {
  padding-left: 1rem;
  list-style:square
}
.about ul li {
  line-height: 2rem;
  color: var(--text);

}
.about .biodata table tr {
  line-height: 2rem;
}
/* .project {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-direction: column;
} */
.project h2 {
  color: var(--text);
}
.project ul {
  padding: 0 1rem;
  margin-top: 2rem;
  list-style: square;
  color: var(--text);
}
.project ul li a {
  color: var(--text);
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  transition: 0.3s ease-in-out;
}
.project ul li a:hover {
  text-decoration: underline;
  padding-left: 0.5rem;
}

.contact .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:3rem;
}
.contact .social a .icons{
  color: var(--text);
  transition: 0.6s ease-in-out;
}
.contact .social a .icons:hover {
  color: hsl(278, 81%, 53%);
  font-size: 3rem;
  transform: rotate(360deg);
}
.contact h2 {
  color: var(--text);
}
.footer {
  background: var(--nav);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer h1 {
  color: var(--text)
}
.footer h2 {
 color: var(--text);
 font-weight: lighter;
}
@media (max-width:768px) {
  #root {
    width: 100%;
    overflow: auto;
  }
  .header {
    padding:1rem 2rem;
  }
  .toggle-button {
    display: block;
  }
  .header .nav-wrap {
    display: none;
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    height: 100vh;
    width: 100%;
    background: rgba(50, 50, 50, 0.5);
    z-index: 2;
  }
  .header .nav-wrap.toggled {
    display: flex;
  }
  .header .nav-wrap .navv {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;   
  }
  .header .nav-wrap .navv li  .navv-link {
    width: 100%;
  }
  .left-pane {
    width: 100%;
  }
  .right-pane .profil img{
    display: none;
  }
}